# Dependencies
node_modules/
.pnp
.pnp.js

# Build
.next/
out/
dist/
build/

# Env
.env
.env.local
.env.*.local

# Debug / OS
npm-debug.log*
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
*.swp

# Drizzle
drizzle/meta/

# Misc
*.pem
coverage/
